.sidebar {

    box-sizing: border-box;
    position: fixed;     
    line-height: 5em;
    width: 300px;
    height: 100%;
    font-family: sans-serif;
    background: #fcfcfb;
    
}

.sidebar ul {
    list-style-type: none;
    text-align: left;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 35px;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;  
 }

li a {
     display: block;
     text-decoration: none;
     color: black;
 }

 li a:hover {
     background-color: rgb(235, 235, 255);
     color: white;
 }

li a.active {
    background-color: rgb(255, 193, 7);
    color: white;
 }

li a:hover:not(.active) {
    background-color: rgb(235, 235, 255);
    color: black;
}
 