#sidebar { /*etiqueta contenedora*/
    position: fixed; /*pisicion fijada en relacion al documento*/
    line-height: 60px;/*reducimos en interlineado del menu*/
    width: 300px;/*fijamos el ancho*/
    height: 100%;/*fijamos el alto total*/
    padding: 0;
    margin: 0;
    
    
}

.title { /*encabezado de nuestro menu*/
    display: block; /*convertimos el encabezado en un elemento de bloque*/
    font-family: 'Saira Extra Condensed',
    sans-serif;
    font-size: 35px;/*tamaño de la fuente*/
    margin: 0; /*establecemos el margen*/
    width: 280px;
    padding-left: 20px;
    background: #fcfcfb;
}

li {
     text-align: left;
     /*alineacion de la fuente*/
     font-size: 24px;
     /*tamaño de la fuente*/
     font-family: 'Saira Extra Condensed',
     sans-serif;
     /*definimos un estilo de fondo*/
     background: #fcfcfb;
     /*color de fondo de nuestro menú*/

}


li a { /*enlaces de nuestro menú*/
     display: block; /*convertimos el cuerpo de nuestro menú en un elemento de bloque*/
     padding-left: 8px;
     text-decoration: none; /*le quitamos la decoracion*/
     color: black;
 }

 li a:hover { /*aqui le damos un efecto cada vez    que pase nuestro cursor*/
     background-color: rgb(235, 235, 255);
     color: black;
 }

ul li:first-child a { /*le asignamos a la primera etiqueta*/
    background-color: rgb(255, 193, 7); /*un nuevo color de fondo*/
    color: white; /*nuevo color de fuente*/
}

ul li:first-child a:hover { /*esto le asigna a la primera etiqueta hija de ul, un efecto al pasar nuevamente el cursor sobre ella*/
    color: black;
    background-color: rgb(235, 235, 255);
}
